body, html{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
   
}


.mainContainer{
    @extend %flexColumn;
    text-align: center;
    margin: 0; 
    min-width: 320px;
    min-height:100vh;
    overflow: hidden;
    background-image: linear-gradient(45deg, #F06292, #f0629200);
    @media(min-width:510px){
        align-items: center;
        justify-content: flex-start;
    }
   
    @media(min-width:590px){
        background-image: none;
        margin:6px; 
        justify-content: center;
    }
}

.currencyConverterContainer{
    padding: 5px;
    padding-top: 19px;
    padding-bottom: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media(min-width:510px){
        padding: 34px;
        padding-top: 26px;
    }   
 
    @media(min-width:590px){
        border-radius: 15px;
        box-shadow: 0 1px 9px 1px #9e9e9ec2;
        background-image: linear-gradient(45deg, #F06292, #f0629200);

    } 
}

.title{
    margin-bottom: 14px;
    font-size:29px;
    content: '';
    height:55px;
    font-family: 'Kavivanar', cursive;
    width:100%;
    margin-top: 3px;
    @media (min-width:350px){
        font-size: 32px;
    }
    position: relative;
    @media(min-width: 510px) {
        margin-bottom: 23px;
        margin-top:0;
        font-size: 37px;
    }

}

.title2 {
    position: absolute;
    top: -152px;
    left: 50%;
    transform: translate(-50%) translateY(0);
    width: 0%;
    opacity: 0;
    letter-spacing: 6px;
}

.animation {
    animation: titleAnimation1 0.8s ease-out, titleAnimation2 0.8s ease-out 0.8s, titleAnimation3 2s ease-out 1.6s;
    transform-origin: center;
    animation-fill-mode: forwards;
    -webkit-transform-origin-x: center;
    -webkit-transform-origin-y: center;
    letter-spacing: 6px;
    @media(min-width:350px){
        animation: titleAnimation1 0.8s ease-out, titleAnimation2b 0.8s ease-out 0.8s, titleAnimation3 2s ease-out 1.6s;
        -webkit-transform-origin-x: center;
        -webkit-transform-origin-y: center;
        animation-fill-mode: forwards;
    }
    @media(min-width:420px){
        animation: titleAnimation1 0.8s ease-out, titleAnimation2c 0.8s ease-out 0.8s, titleAnimation3 2s ease-out 1.6s;
        -webkit-transform-origin-x: center;
        -webkit-transform-origin-y: center;
        animation-fill-mode: forwards;
    }
    @media(min-width:510px){
        animation: titleAnimation1 0.8s ease-out, titleAnimation2d 0.8s ease-out 0.8s, titleAnimation3 2s ease-out 1.6s;
        -webkit-transform-origin-x: center;
        -webkit-transform-origin-y: center;
        animation-fill-mode: forwards;
    }

}

.nonAnimation {
    animation: none
}

.line {
    content:'';
    display: block;
    border-bottom: 2px solid $darkViolet;
    animation: lineDrawing 2s ease-in 1.6s;
    animation-fill-mode: forwards;
    transform-origin: bottom left;
    width: 0;

}

.nonLine{
    animation:none
}


@keyframes lineDrawing{
    0%{
        width: 0;
        border-bottom: 3px solid $darkViolet;
    }
    80% {
        width: 100%;
        border-bottom:3px solid $darkViolet;
    }

    100%{
        border-bottom: 2px solid black;
        width:100%;
    }
}

@mixin titleAnimation2_0 {
    transform: translate(-50%) translateY(152px) scaleX(1) scaleY(1);
    transform-origin:bottom;
    width:125%;
}

@mixin titleAnimation2_50 {
    width:125%;
    transform: translate(-50%) translateY(152px) scaleX(1.15) scaleY(1.25);
    transform-origin:bottom;
    color: $darkViolet;
}

@mixin titleAnimation2_100($width) {
    color: $darkViolet;
    transform: translate(-50%) translateY(152px) scaleX(1) scaleY(1);
    transform-origin:bottom;
    width:$width;

}

@keyframes titleAnimation1 {
    0%{
        opacity:0;
        transform: translate(-50%) translateY(0);
        letter-spacing: 6px;
        width:125%;
    }

    100%{
        opacity:1;
        transform: translate(-50%) translateY(152px);
        width:125%;
        letter-spacing: inherit;
    }
}

@keyframes titleAnimation2{
    0%{
        @include titleAnimation2_0
    }
    50%{
        @include titleAnimation2_50
    }
    100%{
        @include titleAnimation2_100(268px)
    }
}

@keyframes titleAnimation2b{
    0%{
        @include titleAnimation2_0
    }
    50%{
        @include titleAnimation2_50
    }
    100%{
        @include titleAnimation2_100(304px)
    }
}

@keyframes titleAnimation2c{
    0%{
        @include titleAnimation2_0
    }
    50%{
        @include titleAnimation2_50
    }
    100%{
        @include titleAnimation2_100(317px)
    }
}


@keyframes titleAnimation2d{
    0%{
        @include titleAnimation2_0
    }
    50%{
        @include titleAnimation2_50
    }
    100%{
        @include titleAnimation2_100(80%)
    }
}

@keyframes titleAnimation3 {
    0%{
        color:$darkViolet;
    }
    80%{ 
        color:$darkViolet;
    }
    100%{
        color:black;
        text-shadow: none;
    }
}


label {
    @extend %label
}

.iconOfMoney {
    width: 88px;
    height: auto;
    margin: 9px;
    margin-top: 26px;
    margin-bottom: 39px;
    @media(min-width: 510px){
        margin-top: 20px;  
        margin-bottom: 9px;
        width: 95px
    }
}
