@font-face {
    font-family: 'Gorilla'; 
    src: url(../fonts/gorilla.regular.ttf);
    
}


@font-face {
    font-family: 'Impossibilium-brk'; 
    src: url(../fonts/impossibilium-brk.regular.ttf);
    
}

@font-face {
    font-family: 'Yeseva-one'; 
    src: url(../fonts/yeseva-one.regular.ttf);
    
}

@font-face {
    font-family: 'Movavi-grotesque'; 
    src: url(../fonts/movavi-grotesque.black-italic.ttf);
    
}

@font-face {
    font-family: 'Heavy-equipment'; 
    src: url(../fonts/heavy-equipment.regular.ttf);
    
}


$border:1px solid #9e9e9e82;

@mixin flexColumn {
    display: flex;
    flex-direction: column
}

%flexColumn {
    @include flexColumn
}

%label {
    font-weight: 500;
    font-size: 19px;
    padding:10px;
    padding-top: 5px;
    @media(min-width: 510px){
        padding: 10px;
        padding-top: 10px;
    }
}